apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: gateway-traffic-scaler
  namespace: microservices
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: gateway-deployment

  minReplicaCount: 1
  maxReplicaCount: 4

  cooldownPeriod: 30

  fallback:
    failureThreshold: 3
    replicas: 1

  advanced:
    horizontalPodAutoscalerConfig:
      behavior:
        scaleUp:
          stabilizationWindowSeconds: 0
          policies:
            - type: Percent
              value: 200
              periodSeconds: 10
        scaleDown:
          stabilizationWindowSeconds: 30
          policies:
            - type: Percent
              value: 100
              periodSeconds: 15

  triggers:
    - type: prometheus
      metadata:
        serverAddress: http://monitoring-kube-prometheus-prometheus.monitoring.svc:9090
        query: sum(rate(nginx_ingress_controller_requests{exported_service="gateway-service"}[10s]))
        threshold: "30"
        metricType: Value
        activationThreshold: "1"
