apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: keda-operator
  namespace: monitoring
  labels:
    release: monitoring
spec:
  selector:
    matchLabels:
      app: keda-operator
  namespaceSelector:
    matchNames:
    - keda
  endpoints:
  - port: metrics
    interval: 5s
